<% flash.each do |key, value| %>
  <% alert_class = case key.to_sym 
    when :notice then 'alert-success'
    when :alert then 'alert-danger'
    else 'alert-info'
  end %>
  <div class="alert <%= alert_class %> alert-dismissible fade show my-3" role="alert">
    <%= value %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>
  