<div class="container">
  <div class="row justify-content-center">
    <div class="content">
      <h1>「OK! 合トレ」とは</h1>
      <p>
        最後の1repで補助がいてくれたら…ジムでトレーニングをする時に、トレーニングパートナーがいてくれたらと思うことはありませんか？<br>
        しかし多くのジムでは、知らない人に声をかけることはマナー違反ですし、仮にマナー違反ではなくとも誰かに「一緒にトレーニングしませんか？」と声をかけることはとても勇気がいることです。<br>
        OK! 合トレでは、「別に一緒にやってもいいよ」という意思表示を互いに表明しあうことにより、トレーニングに誘う、誘われるハードルを下げることを目的としたサービスです。
      </p>
    </div>
  </div>
</div>