@import "bootstrap";
// @import "bootstrap-icons/font/bootstrap-icons";

.introduction-bg {
  margin: 0;
  padding: 0;
  background-image: image-url('introduction.jpg'); /* ここに背景画像のパスを指定 */
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.content {
  background: rgba(255, 255, 255, 0.8); /* 半透明の背景色で文字を読みやすくする */
  padding: 20px;
  max-width: 800px;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.radio-inline__input {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}

.radio-inline__label {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin-right: 18px;
  border-radius: 3px;
  transition: all .2s;
  border: solid 1px #cbcbcb;
}

.radio-inline__input:checked + .radio-inline__label {
  background: #B54A4A;
  color: #fff;
  text-shadow: 0 0 1px rgba(0,0,0,.7);
}

.radio-inline__input:focus + .radio-inline__label {
  outline-color: #4D90FE;
  outline-offset: -2px;
  outline-style: auto;
  outline-width: 5px;
}

/* 画像の高さをデフォルトで100に設定 */
.navbar-brand img {
  height: 100px;
}

.calendar {
  width: 100%;
  margin: auto;
  padding: 0 15px; /* スマホでの左右余白を追加 */
}
.calendar-header, .calendar-body {
  width: 100%;
}
.calendar-header .row, .calendar-body .row {
  display: flex;
  justify-content: space-between;
}
.calendar-header .col, .calendar-body .col {
  flex: 1;
  text-align: center;
}
.date {
  font-weight: bold;
}
.workout {
  font-size: 0.8em;
}
.text-muted {
  color: #6c757d;
}
.calendar-body .row {
  flex-wrap: nowrap;
}
.calendar-body .col {
  min-height: 100px;
}
.text-primary {
  color: #007bff !important; /* 土曜日を青に */
}
.text-danger {
  color: #dc3545 !important; /* 日曜日を赤に */
}
/* スマホ用 */
.desktop-only {
  display: none;
}
.mobile-only {
  display: block;
}

.margin-clear {
  margin: 0 0 0 0;
}

@media (max-width: 767px) {
  .navbar-brand img {
    height: 60px;
  }

  .switch-btn {
    padding-left: 0 !important;
  }

  .radio-inline__label {
    margin-right: 0 !important;
  }

  /* 最初の.form-check-inlineのmargin-rightを0に設定 */
  .form-check-inline {
    margin-right: 0;
  }

  .form-check-inline:first-child {
    margin-right: 5px !important;
  }

  .navbar-nav .nav-item {
    margin-bottom: 10px; /* 縦並び時のマージン調整 */
  }
}
/* デスクトップ用 */
@media (min-width: 768px) {
  .desktop-only {
    display: block;
  }
  .mobile-only {
    display: none;
  }
}
